{% extends 'commonheader.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="/static/img/welcome-banner.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Slot Finder :Find Your Slot</h5>
                                 <p style="font-weight: bold;font-size: 18px;margin-top: 12px;">Never waste time searching for a parking spot again</p>
                                <!--<h1 class="display-3 text-white animated slideInDown">NGO</h1>
                                <p class="fs-5 text-white mb-4 pb-2">NGOs further the social goals of their members (or founders): improving the natural environment, encouraging the observance of human rights, improving the welfare of the disadvantaged, or representing a corporate agenda.</p>-->
                            <!--<a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="/static/img/fc1.png" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Slot Booking Project</h5>
                                 <p style="font-weight: bold;font-size: 18px;margin-top: 12px;">Never waste time searching for a parking spot again</p>
                                <!--<h5 class="text-primary text-uppercase mb-3 animated slideInDown">Supply Chain Project</h5>
                                <h1 class="display-3 text-white animated slideInDown">NGO</h1>
                                <p class="fs-5 text-white mb-4 pb-2">A non-governmental organization (NGO) (see spelling differences) is an organization that generally is formed independent from government.</p>-->
                                <!--<a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


</body>
</html>
{% endblock %}