{% extends 'commonheader.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Login Page</h6>
                <h1 class="mb-5">Login Page</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    {{msg}}
                    <form action="/loginpage" method="post">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" name="uname" placeholder="Your Name"
                                    required>
                                    <label for="name">Login Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Your Password"
                                    required>
                                    <label for="pwd">Your Password</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">User Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

</body>
</html>
{% endblock %}